tenantId="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
clientId="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
clientSecret="***"

automatischGeneriertGruppeId="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"

verbandonline_adminuser="***"
verbandonline_adminpassword="***"

nextcloud_adminuser="****"
nextcloud_adminpassword="****"

keyEncryptionKey="****"